@model IEnumerable<ProfessionalNetwork.Models.TestVM>

@{
    ViewBag.Title = "Index";
}


@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}





                    @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })|
                @Html.ActionLink("liste questions", "listquestion", new { id = item.Id_Test })*@
       


    <h3 class="tittle text-center mb-lg-5 mb-3">
        @*<span>Our Packeges</span>*@Test List
    </h3>
    <!---728x90--->
   
   

                @foreach (var item in Model)
                {

                    <div class="card-deck text-center row mt-5">

                        <div class="price-info-grid col-lg-3">
                            <div class="price-inner">
                                <div class="price-header">
                                    <h4>@Html.DisplayFor(modelItem => item.Name_Test)</h4>
                                </div>
                                <div class="price-body">
                                    <h5 class="pricing-title">
                                        <span class="dolor">$</span> 789.00

                                    </h5>

                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li class="py-2 border-bottom">Number of Questions : @Html.DisplayFor(modelItem => item.Nbr_Question)</li>
                                        <li class="py-2 border-bottom">Total points : @Html.DisplayFor(modelItem => item.Nbr_Point_Tolal)</li>

                                        <li class="py-2">-</li>
                                    </ul>



                                    <a href="@Url.Action("listquestion", new { id = item.Id_Test })" class="btn btn-block btn-outline-primary py-2">
                                        <i class="far fa-user"></i> List of Questions
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }

<br />
<br />

                    <h3>
                        @Html.ActionLink("Create New Test", "Create")
                    </h3>


