@model IEnumerable<ProfessionalNetwork.Models.QuestionVM>

@{
    ViewBag.Title = "listquestion";
}



@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<h2>listquestion</h2>

<p>
    @Html.ActionLink("Create New", "CreateQuestion")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.Date_Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Modified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Deleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Id_Question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content_Question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correct_AnswerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Point_Question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.choice1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.choice2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.choice3)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.TestFK)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.Date_Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Modified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Deleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Id_Question)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content_Question)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correct_AnswerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Point_Question)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rank)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.choice1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.choice2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.choice3)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.TestFK)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
